.main {
  display: flex;
  justify-content: space-between;
  margin-left: 15.6rem;
  margin-right: 15.6rem;
  margin-top: 5.6rem;

  &__exp-and-quotes {
    width: 52.8rem;
  }

  &__code-editor-and-availability {
    display: flex;
  }
}
