@font-face {
  font-family: 'roboto';
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-regular.eot'), /* IE9 Compat Modes */
        url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto/roboto-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), /* Super Modern Browsers */
        url('../fonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'roboto';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto/roboto-medium.eot'), /* IE9 Compat Modes */
        url('../fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto/roboto-medium.woff') format('woff'), /* Pretty Modern Browsers */
        url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), /* Super Modern Browsers */
        url('../fonts/roboto/Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto/roboto-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
